.container {
    display: grid;
    width: 1000px;
    height: 1000px;
    background-color: green;
}

.calculator {
    max-width: 500px;
    max-height: 800px;
    display: grid;
 
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas: 
        "sc sc sc sc"
        "ms ms ms ms"
        "re ne ex di"
        "n7 n8 n9 mu"
        "n4 n5 n6 su"
        "n1 n2 n3 ad"
        "pe n0 de eq";
}


.button {
    max-height: 200px;
    max-width: 200px;
}

/* screens */
.screen {
    background-color: slategrey;
    text-align: right;

}

#main-screen {
    grid-area: ms;
    align-self: center;
}
#secondary-screen {
    grid-area: sc;
    max-height: 40px;
    align-self: end;
}



/* functions */
.function {
    background-color: steelblue;
}

#add{
    grid-area: ad;

}
#subtract{
    grid-area: su;
}
#divide{
    grid-area: di;
}
#multiply{
    grid-area: mu;
}
#exponent{
    grid-area: ex;
}


/* misc buttons */
.misc-button{
    background-color: rgb(104, 103, 103);
}

#equal{
    grid-area: eq;
    background-color: aqua;
}
#delete{
    grid-area: de;
}
#reset{
    grid-area: re;
}
#negative{
    grid-area: ne;
}
#period {
    grid-area: pe;
    background-color: red;
}


/* numbers */
.number{
    background-color: red;
}


#n0 {
    grid-area: n0;
}
#n1 {
    grid-area: n1;
}
#n2 {
    grid-area: n2;
}
#n3 {
    grid-area: n3;
}
#n4 {
    grid-area: n4;
}
#n5 {
    grid-area: n5;
}
#n6 {
    grid-area: n6;
}
#n7 {
    grid-area: n7;
}
#n8 {
    grid-area: n8;
}
#n9 {
    grid-area: n9;
}